@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

header > nav > .nav_links > li > a , header > nav > .nav_links > li , header > a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 20px 8%;
    align-items: center;
    color: white;
    
}

header > nav > .nav_links > li {
    display: inline-block;
    padding: 0 20px;
}

header > nav > .nav_links > li > a {
    transition: all 0.5s ease 0s;
}

header > nav > .nav_links > li > a:hover{
    color: blueviolet;
}

.body{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4)) , url(images/bg.png) center / cover no-repeat fixed;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.container{
    margin-top: 15%;
}

.banner > .banner-title{
    font-size: 3rem;
    line-height: 1.2;
}

.banner > .container > h1 > span {
    color: black;
}

.banner > .container > p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    word-spacing: 2px;
}

.banner > .container > form {
    background-color: white;
    border-radius: 2rem;
    border: none;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-input{
     width: 100%;
    font-size: 1.1rem;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}

.search-input::placeholder{
    text-transform: capitalize;
} 

.search-btn{
    width: 40px;
    font-size: 1.5rem;
    background: transparent;
    outline: 0;
    border: none;
    cursor: point;
} 

.design{
    padding: 4.5rem 0;
}

.title{
    text-align: center;
    padding: 1rem;
}

.title > h2 {
    font-size: ;
}